# CMS Survey – 2021 Supplement

[data user guide](https://www.cms.gov/files/document/2021mcbscovidpufdugwinter.pdf)<br/>
[data dictionary](https://www.cms.gov/files/document/covidpuf32021wtxt.txt)

---

In [4]:
import pandas as pd
import numpy as np
import imblearn.over_sampling
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')
sns.set_style("whitegrid")
%matplotlib inline

In [5]:
df = pd.read_csv('/Users/sandraparedes/Library/CloudStorage/Dropbox/Mac/Downloads/MCBSCOVIDPUF2021W/COVIDPUF_3_2021W.csv')

/var/folders/9q/517kb3kd6rz7pq25y7fyk9w00000gn/T/ipykernel_6398/3495306856.py:1: DtypeWarning: Columns (13,18,26,27,33,34,35,36,37,39,40,41,42,45,46,47,48,50,51,52,53,55,56,57,58,59,60,63,64,69,70,72,73,74,75,76,77,79,82,84,86,87,89,90,91,92,93,94,96,97,99,100,101,102,103,104,106,107,108,109,110,111,121,125,128,131,138,141,144,145,151,169,175,178,179,180,181,182,183,184,195,197,199,200,227,260,261,272,273,275,276,279,285,286,288) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/sandraparedes/Library/CloudStorage/Dropbox/Mac/Downloads/MCBSCOVIDPUF2021W/COVIDPUF_3_2021W.csv')

In [6]:
df.head()

,COVID_ID,CVROUND,VERSION,INV_LANG,INV_SPPROXY,INV_INTWEEK,DMV_AGECAT,DMV_SEX,DMV_RACE,DMV_RE_AGE,...,CPWW091,CPWW092,CPWW093,CPWW094,CPWW095,CPWW096,CPWW097,CPWW098,CPWW099,CPWW100
0,30000000,3,2,1,1,2,3,2,1,4,...,435.965791,2505.848919,2379.345341,2675.752901,2596.852459,2407.851607,2720.965387,2550.298536,2780.345626,2597.082212
1,30000002,3,2,1,1,2,1,1,2,5,...,10837.698222,1825.324962,11078.901211,1522.261174,9567.902971,1703.074223,9414.051628,1929.779385,9343.571142,9505.369751
2,30000008,3,2,2,2,2,1,1,3,9,...,8314.359369,1567.967069,8600.913483,9835.358147,1917.824089,2001.396851,10259.059361,1654.717885,8728.026062,8988.199795
3,30000012,3,1,1,1,3,3,2,1,3,...,13770.454630,2538.470020,15261.630618,16424.383249,3493.216450,15084.575464,2652.290723,14574.329559,2994.345476,2310.208917
4,30000013,3,2,1,1,1,3,2,1,3,...,1748.326126,1753.924920,1748.459845,8114.691171,10106.008771,1454.486806,2129.375432,1787.061166,1617.464375,8887.002940

In [7]:
df.describe()

,COVID_ID,CVROUND,VERSION,INV_LANG,INV_SPPROXY,INV_INTWEEK,DMV_AGECAT,DMV_SEX,DMV_RACE,DMV_RE_AGE,...,CPWW091,CPWW092,CPWW093,CPWW094,CPWW095,CPWW096,CPWW097,CPWW098,CPWW099,CPWW100
count,1.110700e+04,11107.0,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,...,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000,11107.000000
mean,3.001505e+07,3.0,1.385883,1.050509,1.121725,2.634105,2.323490,1.548123,1.462861,4.247231,...,5179.730900,5115.707336,5200.489954,5144.443113,5173.216414,5175.895986,5174.166772,5165.635111,5198.610091,5131.639778
std,8.626182e+03,0.0,0.486825,0.219002,0.326983,1.727235,0.733342,0.497701,0.878205,3.370927,...,5678.951304,5407.004334,5465.300493,5471.969177,5487.484904,5474.679253,5454.294054,5516.502469,5569.851291,5492.712804
min,3.000000e+07,3.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,118.312461,86.982687,89.760083,92.264842,79.015153,85.715472,94.573540,102.991710,99.463641,111.899255
25%,3.000762e+07,3.0,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,...,1350.017383,1374.197878,1368.217509,1364.489434,1324.565405,1354.546825,1350.658705,1362.388577,1368.775257,1377.623000
50%,3.001507e+07,3.0,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,3.000000,...,2845.089119,2885.507479,3087.582561,2920.067345,2890.049879,3070.333389,2947.892407,2851.982908,2878.164013,2903.767970
75%,3.002251e+07,3.0,2.000000,1.000000,1.000000,3.000000,3.000000,2.000000,2.000000,5.000000,...,7654.550266,7565.466813,7760.123336,7626.803116,7831.863012,7793.158882,7821.852962,7721.920739,7746.179480,7588.648674
max,3.003000e+07,3.0,2.000000,2.000000,2.000000,8.000000,3.000000,2.000000,4.000000,14.000000,...,102193.055180,78694.411136,69795.330112,66689.793249,63679.471936,62394.441958,64970.720259,69948.210537,71894.652485,69310.525265

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11107 entries, 0 to 11106
Columns: 390 entries, COVID_ID to CPWW100
dtypes: float64(149), int64(13), object(228)
memory usage: 33.0+ MB

In [9]:
df.columns

Index(['COVID_ID', 'CVROUND', 'VERSION', 'INV_LANG', 'INV_SPPROXY',
       'INV_INTWEEK', 'DMV_AGECAT', 'DMV_SEX', 'DMV_RACE', 'DMV_RE_AGE',
       ...
       'CPWW091', 'CPWW092', 'CPWW093', 'CPWW094', 'CPWW095', 'CPWW096',
       'CPWW097', 'CPWW098', 'CPWW099', 'CPWW100'],
      dtype='object', length=390)

In [10]:
dmv_cols = df.iloc[:, 0:17:]
dmv_cols

,COVID_ID,CVROUND,VERSION,INV_LANG,INV_SPPROXY,INV_INTWEEK,DMV_AGECAT,DMV_SEX,DMV_RACE,DMV_RE_AGE,DMV_CBSA,DMV_REGION,DMV_INCOME,DMV_OTHRLANG,DMV_H_OPMDCD,DMV_MA_FLAG,DMV_PARTD
0,30000000,3,2,1,1,2,3,2,1,4,2.0,3.0,1,2.0,3,1.0,1.0
1,30000002,3,2,1,1,2,1,1,2,5,1.0,1.0,2,2.0,2,1.0,1.0
2,30000008,3,2,2,2,2,1,1,3,9,1.0,4.0,2,1.0,2,3.0,1.0
3,30000012,3,1,1,1,3,3,2,1,3,1.0,1.0,2,2.0,2,1.0,1.0
4,30000013,3,2,1,1,1,3,2,1,3,1.0,4.0,1,2.0,2,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11102,30029978,3,2,1,1,2,2,1,2,6,1.0,1.0,1,2,3,1.0,1.0
11103,30029980,3,1,1,1,3,2,1,1,2,2.0,2.0,2,2,2,1.0,1.0
11104,30029989,3,1,1,1,2,3,1,1,3,2.0,3.0,2,2,2,1.0,1.0
11105,30029998,3,2,1,1,1,2,1,1,2,1.0,2.0,2,2,2,1.0,1.0
11106,30029999,3,1,1,1,3,2,2,1,2,2.0,3.0,2,2,2,1.0,1.0

In [11]:
tele_cols = df.iloc[:, 19:27:]
tele_cols

,ACV_TELMED,ACV_TELMEDT1,ACV_TELMEDBE,ACV_TELMEDT2,ACV_TELMEDDU,ACV_TELMEDT3,ACV_TELMEDUS,ACV_TELMEDT4
0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,2,NaN,1,2,1,2
2,1,1,2,NaN,1,1,1,1
3,1,3,2,NaN,2,NaN,1,1
4,1,3,2,NaN,2,NaN,1,3
...,...,...,...,...,...,...,...,...
11102,1,1,2,NaN,1,1,2,NaN
11103,1,3,2,NaN,1,3,2,NaN
11104,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11105,1,3,2,NaN,2,NaN,1,1.0
11106,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
comp_cols = df.iloc[:, 28:32:]
comp_cols

      ACV_COMPPHON ACV_COMPTAB ACV_INTERNET ACV_AUDIOVID
0                2           2            2            2
1                1           1            1            1
2                1           2            2            1
3                1           1            1            1
4                1           1            1            2
...            ...         ...          ...          ...
11102            2           2            2            2
11103            1           1            1            1
11104            1           2            1            2
11105            1           1            1            2
11106            1           2            1            1

[11107 rows x 4 columns]

In [16]:
# df.loc[df['Name'].str.contains("pokemon", case=False)]